$bgcolordeepgreen: rgb(106,124,90);
$bgcolorgreen: rgb(101, 151, 78);
$bgcolorwhite: #F8F8FF;
$bgcolordeepwhite:  rgb(240, 242, 243);
$textcolorblack: rgb(77, 81, 88);
$textcolorblackdeeper: rgb(49, 51, 53);
$textcolorblacklighter: rgba(38, 40, 44, 0.735);
$placeholderblack: rgba(38, 40, 44, 0.326);
$bgcolorblack: rgb(30, 29, 29);
$bgcolordeepblack: rgb(39, 39, 42);
$bgcolorlightblack: rgb(38, 38, 38);
$textcolorwhite: rgb(191, 191, 191);
$section-color: rgb(118, 118, 205);


